@use "../../styles/colors" as c;

.config {
  h3 {
    margin-bottom: 1rem;
  }

  .table-name {
    margin-bottom: 2rem;
  }

  .form__button-group {
    margin-top: 2rem;
  }
}

// Table styling

.config-table {
  width: 100%;

  colgroup {
    col.col {
      &__dataType {
        width: 20%;
      }

      &__originalName {
        width: 35%;
      }

      &__prettyName {
        width: 35%;
      }

      &__buttons {
        width: 10%;
      }
    }
  }

  th {
    font-weight: normal;
    font-size: 1.25rem;
    text-align: left;
    padding-bottom: 0.25rem;
  }

  tbody {
    td.buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

// Table from content styling

td {
  input,
  select {
    width: 100%;
  }
}
